<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body class="eventsBody">
    <div class="header">
        <img class="pie" src="../images/pieslice1-05.png">
        <div class="headerList">
            <ul>
                <li><a href="/#welcome">WELCOME</a></li>
                <li><a href="/#gallery">GALLERY</a></li>
                <li><a href="/#menu">MENU</a></li>
                <li><a href="/#about">ABOUT</a></li>
                <li><a href="/#hours">HOURS &amp; LOCATION</a></li>
                <li><a href="/events/">EVENTS &amp; CATERING</a></li>
                <li><a href="/order/">ORDER ONLINE</a></li>
            </ul>
        </div>
    </div>
    <form class="event-form">
        <input class="email-input input" placeholder="Email*" required />
        <input class="first-name-input input" placeholder="First Name*" required />
        <input class="last-name-input input" placeholder="Last Name*" required />
        <input class="phone-input input" placeholder="Phone Number" />
        <input class="people-input input" placeholder="Number of People" />
        <input class="date-input input" placeholder="Date*" required />
        <input class="time-input input" placeholder="Time*" required />
        <select class="type-input input" placeholder="Type of Event*" style="width:415px; height:45px" required/>
            <option value="cater">Catered External Event</option>
            <option value="inhouse">Pels Pie Co Hosted Event</option>
        </select>
        <input type="submit" class="submit" value="Inquire Now" style="width:200px">
    </form>
</body>

</html>
