<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body>
    <div class="rowContainer">
        <div>Email</div>
        <div>First Name</div>
        <div>Last Name</div>
        <div>Phone Number</div>
        <div># of People</div>
        <div>Type of Event</div>
        <div>Date</div>
        <div>Time</div>
    </div>
    {{#data}}
    <div class="rowContainer eventListing">
        <div>{{email}}</div>
        <div>{{first_name}}</div>
        <div>{{last_name}}</div>
        <div>{{phone}}</div>
        <div>{{num_people}}</div>
        <div>{{type_of_event}}</div>
        <div>{{event_date}}</div>
        <div>{{event_time}}</div>
    </div>
    {{/data}}
</body>

</html>
