<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/calendar.js"></script>
    <link rel='stylesheet' href='../../fullcalendar-3.8.0/fullcalendar.css' />
    <script src='../../fullcalendar-3.8.0/lib/moment.min.js'></script>
    <script src='../../fullcalendar-3.8.0/fullcalendar.js'></script>
</head>

<body>
    <a class ="back" href="/admin" style="float:right; margin-top:0">Back</a>
    <div class="calendarHeader">   
        <a href="/admin/newcalendar">New Event</a> 
    </div>
    {{#data}}
    <div class="calendarItem" title="{{title}}" description="{{description}}" start="{{start}}"></div>
    {{/data}}
    <div class="calendarContainer">
        <div id="calendar"></div>
    </div>
    
</body>