<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body class="adminBody">
    <div class="authpage">
        <h1>Login</h1>
        <form action="/admin/login" class="admin-form" method="POST">
            <label for="name">Name</label>
            <input id="name" class="input" type="text" name="user[name]" placeholder="User Name">
            <label for="password">Password</label>
            <input id="password" class="input" type="password" name="user[password]" placeholder="P4ssw0rd1234">
            <input type="submit" class="submit" value="Login" style="width:200px; height: 5vh">
        </form>
<!--         <div class="signup">
            <a href="/admin/new">Sign Up</a>
        </div> -->
    </div>
</body>