<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body>
    <form class="calendar-form">
        <input class="title-input input" placeholder="Title*" required />
        <input class="description-input input" placeholder="Description*" required />
        <input class="date-input input" placeholder="Date*" required />
        <input class="time-input input" placeholder="Time*" required />
        <input type="submit" class="submit" value="Add Event" style="width:300px; height: 5vh">
    </form>
    <a href="/admin/calendar">Back</a>
</body>

</html>