<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body>
    <!-- header -->
    <div class="header">
        <img class="pie" src="./images/pieslice1-05.png">
        <div class="desktop">
            <ul>
                <li><a href="#welcome">WELCOME</a></li>
                <li><a href="#gallery">GALLERY</a></li>
                <li><a href="#menu">MENU</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#hours">HOURS &amp; LOCATION</a></li>
                <li><a href="/events/">EVENTS &amp; CATERING</a></li>
                <li><a href="/order/">ORDER ONLINE</a></li>
            </ul>
        </div>
        <div class="mobile">
            <div class="menu_icon">
                <div class="menu_icon_bars"></div>
                <div class="menu_icon_bars"></div>
                <div class="menu_icon_bars"></div>
            </div>
            <div class="dropdown-content">
                <a href="#welcome">WELCOME</a>
                <a href="#gallery">GALLERY</a>
                <a href="#menu">MENU</a>
                <a href="#about">ABOUT</a>
                <a href="#hours">HOURS &amp; LOCATION</a>
                <a href="/events/">EVENTS &amp; CATERING</a>
                <a href="/order/">ORDER ONLINE</a>
            </div>
        </div>
    </div>
    <!-- main body -->
    <div class="main">
        <!-- fixed logo -->
        <div class="logo"></div>
        <!-- background image, no content -->
        <div class="flowers" id="welcome"></div>
        <!-- image gallery -->
        <span class="anchor" id="gallery"></span>
        <div class="gallery post">
            <div class="picToggle">
                <span class="left">&lt;</span>
                <img src="images/img_8857_2.jpg" class="mainPic">
                <span class="right">&gt;</span>
            </div>
        </div>
        <!-- background image, no content -->
        <div class="wallpaper"></div>
        <!-- menu section -->
        <span class="anchor" id="menu"></span>
        <div class="menu post">
            <!-- menu text -->
            <div class="textbox">
                <h3>MENU</h3>
                <p>Pels Pie Co bakes fresh butter crust pies daily, with a rotating seasonal variety both classic and slightly experimental.</p>
                <p>&nbsp;</p>
                <p>We will also have a selection of breakfast pastries and savory hand pies with the best produce from local farms, at a price that everyone can enjoy.</p>
                <p>&nbsp;</p>
                <p>Come in to see the latest update from our rotating seasonal menu.</p>
            </div>
            <!-- menu section image -->
            <img src="images/neon_sign.jpg" class="postpic">
        </div>
        <!-- background image, no content -->
        <div class="flowers"></div>
        <!-- about section -->
        <span class="anchor" id="about"></span>
        <div class="about post">
            <!-- about text -->
            <div class="textbox">
                <h3>ABOUT</h3>
                <p>It has been a delight and a challenge to bring fresh pies to Prospect Lefferts Gardens since March 27, 2015.</p>
                <p>&nbsp;</p>
                <p>We have taught ourselves to bake better every day and grow with the palettes of the best set of regular customers in the city, and respond enthusiastically to that ever present question:</p>
                <p>&nbsp;</p>
                <p>"What do I want to eat?"</p>
                <p>&nbsp;</p>
                <p>Everything is made from scratch and even the most decadent of treats are wholesome. We offer the best coffee by Counter Culture Coffee and the best tea (in our giant mugs) by Kusmi Tea, and always try our best to bring local and exotic wine and beer to make your day even better.</p>
            </div>
            <!-- about image -->
            <img src="images/alison.jpg" class="postpic">
        </div>
        <!-- background image, no content -->
        <div class="wallpaper"></div>
        <!-- hours and location -->
        <span class="anchor" id="hours"></span>
        <div class="hours post">
            <!-- hours and location text -->
            <div class="textbox">
                <h3>HOURS &amp; LOCATION</h3>
                <p>446 Rogers Ave, Brooklyn, NY</p>
                <p>&nbsp;</p>
                <p>Dining and Takeout Hours:
                    <br/>
                    <br/>
                </p>
                <p>Monday - Sunday</p>
                <p>7:00 AM – 10:00 PM</p>
                <p>&nbsp;</p>
                <p><a href="tel:+13473505906">347-350-5906</a></p>
                <div class="icons">
                    <a href="https://www.instagram.com/pels.pies/"><img class="social" src="images/instagram.png" alt=""></a>
                    <a href="https://www.facebook.com/pelspieco/"><img class="social" src="images/facebook.png" alt=""></a>
                </div>
            </div>
            <!-- google maps widget -->
            <iframe class='postpic google' frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=446%20Rogers%20Ave%20Brooklyn%20NY%2011225&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        </div>
    </div>
</body>

</html>