<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body>
    <!-- header -->
    <div class="header">
        <img class="pie" src="../images/pieslice1-05.png">
        <div class="desktop">
            <ul>
                <li><a href="/#welcome">WELCOME</a></li>
                <li><a href="/#gallery">GALLERY</a></li>
                <li><a href="/#menu">MENU</a></li>
                <li><a href="/#about">ABOUT</a></li>
                <li><a href="/#hours">HOURS &amp; LOCATION</a></li>
                <li><a href="/events/">EVENTS &amp; CATERING</a></li>
                <!-- <li><a href="/order/">ORDER ONLINE</a></li> -->
            </ul>
        </div>
        <div class="mobile">
            <div class="menu_icon">
                <div class="menu_icon_bars"></div>
                <div class="menu_icon_bars"></div>
                <div class="menu_icon_bars"></div>
            </div>
            <div class="dropdown-content">
                <a href="/#welcome">WELCOME</a>
                <a href="/#gallery">GALLERY</a>
                <a href="/#menu">MENU</a>
                <a href="/#about">ABOUT</a>
                <a href="/#hours">HOURS &amp; LOCATION</a>
                <a href="/events/">EVENTS &amp; CATERING</a>
               <!--  <a href="/order/">ORDER ONLINE</a> -->
            </div>
        </div>
    </div>

    <!-- main body -->
    <div class="container">
        <h1>Choose Your Pie</h1>
        <form class="order-form">
            <!-- add item -->
            <div class="addItem">
                <select class="pie-input input" placeholder="Type of Pie*" required/> {{#data.data.object.item_data.variations}}
                <option value="{{id}}" name="{{item_variation_data.name}}">{{item_variation_data.name}} -- 30</option>
                {{/data.data.object.item_data.variations}}
                </select>
                <label>Quantity</label>
                <input type="text" class="quantity" value="1">
                <p class="add">Add</p>
            </div>

            <div class="pieSelection">
                <!-- <div class="pieDiv">
                    <img src="#" class="pieImage">
                </div> -->
                <div class="pieDescription"></div>
            </div>

            <!-- shopping cart -->
            <div class="cartBox">
                <div class="cart"></div>
                <div class="total">Subtotal: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $<span class="totalValue"></span>.00</div>
            </div>

            <!-- empty cart button -->
            <div class="emptyCart">
                <p class="remove">Empty Cart</p>
            </div>

            <!-- submit button -->
            <input type="submit" class="submit" value="Continue" style="width:250px; margin-top: 100px">
        </form>
    </div>
</body>

</html>
