<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body>
    <div class="header">
        <img class="pie" src="../images/pieslice1-05.png">
        <div class="headerList">
            <ul>
                <li><a href="/#welcome">WELCOME</a></li>
                <li><a href="/#gallery">GALLERY</a></li>
                <li><a href="/#menu">MENU</a></li>
                <li><a href="/#about">ABOUT</a></li>
                <li><a href="/#hours">HOURS &amp; LOCATION</a></li>
                <li><a href="/events/">EVENTS &amp; CATERING</a></li>
                <li><a href="/order/">ORDER ONLINE</a></li>
            </ul>
        </div>
    </div>
    <form class="review">
        <div class="reviewContainer">
            <h1>Order Summary</h1>
            <div class="cartBoxReview">
                <div class="cart">
                    {{#pies}}
                    <div class="cartItem" data-id="{{id}}" data-amount="{{amount}}" data-quantity="{{quantity}}" data-name="{{name}}">{{name}} &nbsp; &nbsp; x{{quantity}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ${{amount}}.00</div>
                    {{/pies}}
                </div>
                <div class="total">Total: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $<span class="totalValueReview">{{cartTotal}}</span>.00</div>
            </div>
            <div class="deliveryOrPickup">
                <input type="radio" name="method" value="Pickup" checked> Pickup
                <input type="radio" name="method" value="Delivery"> Delivery
            </div>
            <input type="submit" class="submit" value="Proceed to Checkout" style="width:300px; margin-top: 100px">
            <a class="back" href="/order">Back</a>
        </div>
    </form>
</body>

</html>
