<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body class="adminBody">
    <a href="/admin" class="back" style="float:right; margin-top:-40px; color:white">Back</a>
    <div class="admin-index">
        <div class="rowContainer priceContainer">
            <a href="/price/list">
                <div class="price_tool" style="font-size:20px; padding-top:10px">Create Shopping List</div>
            </a>
            <a href="/price/add">
                <div class="price_tool price-text" style="font-size:20px; padding-top:10px">Add Item</div>
            </a>
        </div>
    </div>
</body>

</html>