<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pels Pie Co.</title>
    <link rel="shortcut icon" href="../../images/pels-pie-co-favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
</head>

<body>
    <div class="rowContainer">
        <div>Item</div>
        <div>Jetro</div>
        <div>Dairy Land</div>
        <div>Baldor</div>
        <div>Dollar Tree</div>
        <div>Other</div>
        <div>Measurement</div>
    </div>
    {{#data}}
    <div class="rowContainer groceries">
        <div>{{name}}</div>
        <div>${{jetro_price}}</div>
        <div>${{dairyland_price}}</div>
        <div>${{baldor_price}}</div>
        <div>${{dollartree_price}}</div>
        <div>${{other_price}}</div>
        <div>{{measurement}}</div>
    </div>
    {{/data}}
    <a href="/price/">Back</a>
</body>

</html>